@import './Common.scss';

.entryPage{
  .content {
    form {
      display: flex;
      flex-direction: column;
      flex: 1;

      label {
        display:flex;
        justify-content: space-between;
        height: 30px;
      }

      select{
        width: 177px;
      }

      input {
        width: 170px;
      }

      input[type=submit] {
        align-self: center;
        height: 30px;
        margin: 10px 0;
      }
    }
  }
}