@import './Common.scss';

.entryPage{
  .content {
    form {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    form label {
      display:flex;
      justify-content: space-between;
      height: 30px;
    }

    form select{
      width: 177px;
    }

    form input {
      width: 170px;
    }

    form input[type=submit] {
      align-self: center;
      height: 30px;
      margin: 10px 0;
    }
  }
}