.filterPage {
  flex: 2;
    .content {
      form {
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-flow: wrap;
      }
  
      form label {
        display:flex;
        height: 30px;
        margin: 20px 0;
      }

      @media (max-width: 600px) {
        form label {
          min-width: 350px;
          justify-content: space-between;
        }
      }
  
      form select{
        width: 177px;
        margin-left: 10px;
      }
  
      form input {
        width: 170px;
        margin-left: 10px;
      }
    }
}